body{
    height: 1000px;
    background: #2CA516;
    background: -webkit-linear-gradient(top, #2CA516, #96F3F9);
    background: -moz-linear-gradient(top, #2CA516, #96F3F9);
    background: linear-gradient(to bottom, #2CA516, #96F3F9);

}