/*Simple Selector*/

    /*Selector Element*/
    h1 {
        color: green;
        text-align: center;
        text-shadow: 5px 5px rgb(173, 160, 160);
    }

    /*Selector Id*/
    #paragraph_2 {
        color: rgb(224, 138, 138);
    }

    /*Selector Class*/
    .paragraph_3{
        color: rgb(199, 0, 109);
    }

    /*Universal Selector, untuk menubah seluruh tampilan di tag html*/
    *{
        background-color: rgb(255, 236, 236);
    }

    /*Grouping Selector, untuk membuat group dengan memisahkannya dengan koma*/
    h3, b, i, u{
        color: rgb(255, 0, 0);
        font-size:x-small;
    }

    
/*Selector Combinator*/

    /*Descandant Selector*/
    div .descandant {
        color: rgb(26, 26, 177);
    }

    /*Child Selector*/
    .child > p {
        color: rgb(4, 134, 0);
    }

    /*Adjacent Sibling Selector*/
    .adjacent_sibling + p {
        background-color: rgb(81, 160, 206);
    }

    /*General Sibling Selector*/
    .general_sibling ~ p {
        background-color: blueviolet;
    }
    

/*Selector Pseudo-class*/

    /*efek hover*/
    #contoh_hover {
        width: 100%;
        height: 50%;
        background: red;
    }

    #contoh_hover:hover{
        width: 100%;
        height: 50%;
        background: yellow;
    }


/*Selector Pseudo-elements*/

    /*::first-letter*/
    #pseudo_elements::first-letter {
        color: aqua;
        font-size: xx-large;
    }

/*Selector Attribute*/
    a[target=_blank] {
        background-color: yellow;
        font-size: x-large;
    }