/*Simple Selector*/

    /*Selector Element*/
    h1 {
        color: green;
        text-align: center;
        text-shadow: 5px 5px rgb(173, 160, 160);
    }

    /*Selector Id*/
    #paragraph_2 {
        color: rgb(224, 138, 138);
    }

    /*Selector Class*/
    .paragraph_3{
        color: rgb(199, 0, 109);
    }

    /*Universal Selector, untuk menubah seluruh tampilan di tag html*/
    *{
        background-color: rgb(255, 236, 236);
    }

    /*Grouping Selector, untuk membuat group dengan memisahkannya dengan koma*/
    h3, b, i, u{
        color: rgb(255, 0, 0);
        font-size:x-small;
    }

    
/*Selector Combinator, digunakan untuk memilih suatu elemen yang memiliki hubungan dengan elemen lain*/
